@import url('button');

body {
	margin: 0px;
}

.banner {
	background: linear-gradient(315deg,
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.5)),
	url('https://upload.wikimedia.org/wikipedia/commons/c/cf/3818_-_Riffelberg_-_Matterhorn_viewed_from_Gornergratbahn.JPG');
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
}

.banner h1 {
	font-family: Helvetica;
	font-size: 120px;
	text-align: center;
	color: white;
}

.banner h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
}
