@import url('world_map_style.css');

.drop-down {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  z-index: 2;
}

.color-selector {
  cursor: pointer;
}

ul {
  list-style-type: none;\
  margin: 0px;
  padding: 0px;
}
