.circlexx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}
.subxx
{
   opacity:0;
   stroke-width:0.3;
}
.unxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.3;
}
.noxx
{
   opacity:0;
   fill:#e0e0e0;
   stroke:#000000;
   stroke-width:0.5;
}
.landxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.5;
   fill-rule:evenodd;
}
.coastxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0.3;
   fill-rule:evenodd;
}
.limitxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}
.antxx
{
   fill: #e0e0e0;
   stroke:#ffffff;
   stroke-width:0;
   fill-rule:evenodd;
}
.oceanxx
{
   opacity: 1;
   color: #000000;
   fill:#ffffff;
   stroke:#000;
   stroke-width:0.5;
   stroke-miterlimit:1;
}
