<div class="pagination">
  {% if page.category %}
    {% assign category_url = page.category | prepend: "category/" | prepend: "/" %}


    {% if paginator.next_page %}
      {% assign next_page_path = paginator.page | plus: 1 | prepend: "/page" | prepend: category_url %}

      <a class="pagination-item older" href="{{ next_page_path }}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}

    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        {% assign previous_page_path = category_url %}
      {% else %}
        {% assign previous_page_path = paginator.page | minus: 1 | prepend: "/page" | prepend: category_url %}
      {% endif %}

      <a class="pagination-item newer" href="{{ previous_page_path }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  {% else %}

    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  {% endif%}
</div>