<div class="posts">
  {% if page.category %}
    {% for post in site.categories[page.category] %}

      <article data-post-index="{{ forloop.index | minus: 1 }}" class="post">
        {% if post.format == "tweet" %}
          {% include post_types/short.html %}
        {% elsif post.format == "link" %}
          {% include post_types/link.html %}
        {% else %}
          {% include post_types/long.html %}
        {% endif%}
      </article>

    {% endfor %}
  {% else %}
    {% for post in paginator.posts %}

      <article data-post-index="{{ forloop.index | minus: 1 }}" class="post">
        {% if post.format == "tweet" %}
          {% include post_types/short.html %}
        {% elsif post.format == "link" %}
          {% include post_types/link.html %}
        {% else %}
          {% include post_types/long.html %}
        {% endif%}
      </article>

    {% endfor %}
  {% endif %}
</div>