<div class="posts">
  {% if page.category %}
    {% for post in site.categories[page.category] %}

      <article class="post">
        {% if post.format == "tweet" %}
          {% include short.html %}
        {% else %}
          {% include long.html %}
        {% endif%}
      </article>

    {% endfor %}
  {% else %}
    {% for post in paginator.posts %}

      <article class="post">
        {% if post.format == "tweet" %}
          {% include short.html %}
        {% else %}
          {% include long.html %}
        {% endif%}
      </article>

    {% endfor %}
  {% endif %}
</div>