header {
  padding: 27px 20px 20px 20px;
  background: linear-gradient(
    90deg,
    #0B0012 6.3%,
    rgba(11, 0, 18, 0) 14.59%,
    rgba(36,0,61,0.25) 17.76%,
    rgba(36, 0, 61, 0) 86.37%,
    rgba(11,0,18,0.5) 90.13%,
    #0B0012 98.63%),
   url('/assets/hero-image.jpg');
  background-position: center;
  background-size: cover;

  max-width: 1110px;
  margin: 0px auto;

  @media (max-width: $max-mobile-width) {
    padding: 0px;
    background-image: url(/assets/hero-image.jpg);
    background-position-x: 85%;
  }

  h1, h2 {
    color: $text-blue;
    font-size: 32px;
  }

  nav#page-links {
    a { color: $text-blue; font-size: 20px; }
    div > a:nth-child(2) { margin: 0px 17px; } // middle link

    display: flex;
    justify-content: space-between;
  }

  nav#categories {
    display: flex;
    overflow-y: scroll;
    height: 50px;
    align-items: center;

    &::-webkit-scrollbar { width: 0 !important; }
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    a {
      display: flex;
      margin-right: 10px;
      color: $text-white;
      line-height: initial;
    }
  }

  #banner-text-section {
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
    }

    width: 490px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 45vw;
  max-height: 470px;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 824px;


  @media (max-width: $max-mobile-width) {
    padding: 0px;
    min-height: 250px;
    height: 50vw;
  }
}

#carrot {
  margin-right: 10px;
}

#years {
  position: absolute;
  list-style: none;
  padding-inline-start: 0px;
  width: 97px;
  text-align: center;
  transition: height 0.2s ease;
  height: 0px;
  overflow: hidden;
  margin-top: 0px;
  top: 28px;
  z-index: 2;

  li {
    background-color: $text-blue;
    margin: 5px 0px;
    position: relative;
    height: 17px;
  }

  a {
    position: absolute;
    width: 100%;
    left: 0;
    top: 6px;
    margin-right: initial !important;
  }
}

#categories {
  position: relative;
}